<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication Error</title>
    <link rel="stylesheet" href="../../assets/css/authError.css">
    
</head>
<body>
    <div class="error-container">
        <h1>Authentication Error</h1>
        <p>
            It looks like you signed up using Google Sign-In, which doesn't require a password. Please use the "Sign in with Google" option to access your account. Password reset is not applicable for accounts created via Google Sign-In.
        </p>
        <button class="back-to-login">
            <a href="/">Back to Login Page</a>
        </button>
    </div>
</body>
</html>