<%- include('header')  %>

<link rel="stylesheet" href="../../assets/css/dashboard.css">

<div id="counts-container">
    <div id="groups-count" class="count-box">
        <a href="/user/groups" >
            <p>Groups: <span id="groups-total"><%= header.groupCount %></span></p>
        </a>
    </div>
    <div id="contacts-count" class="count-box">
        <a href="/user/contacts" >
            <p>Contacts: <span id="contacts-total"><%= header.contactCount %></span></p>
        </a>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../../assets/js/logout.js"></script>
    <script src="../../assets/js/common.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>