<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashobard</title>
    <link rel="stylesheet" href="../../assets/css/header.css">   
</head>
<body>
    <header>
        <div id="groups-div">
            <a href="/user/groups" >
                <button id="groups-button">Groups</button>
            </a>
        </div>
        <div id="contact-div">
            <a href="/user/contacts" >
                <button id="contacts-button">Contacts</button>
            </a>
        </div>
        <div id="title-div">
            <h2><%= header.title %></h2>
        </div>
        <div id="logout-div">
            <button type="button" id="logout-button">Log Out</button>
        </div>
    </header>