<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration Here</title>
    <link rel="stylesheet" href="../../assets/css/register.css">
</head>
<body>
    <div id="register-page-div">
        <h2>Register Page</h2>
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter Name" minlength="3" maxlength="30" required>
            <p class="name">Use only alphabetic characters.</p>
    
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter Username" minlength="3" maxlength="20" required>
            <p class="username">Use only letters, numbers, and underscores.</p>
    
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="Enter Email" required>
            <p class="email">(e.g., user@example.com)</p>
    
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter Password" minlength="8" required>
            <p class="password">Password must be at least 8 characters</p>
            <ul>
                <li> <p class="uppercase"></p> </li>
                <li> <p class="lowercase"></p> </li>
                <li> <p class="digit"></p> </li>
                <li> <p class="special-character"></p> </li>
            </ul>

            <button type="button" id="register-button">Register</button>
        </form>
        <div id="switch-to-sign-in">
            <p class="sign-in-option">
                Already have an account? <a href="/">Sign in</a>
            </p>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../../assets/js/register.js"></script>
    <script src="../../assets/js/common.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</body>

</html>